In [ ]:
# Creating DataFrames

In [1]:
import json
import pandas as pd
from tqdm.notebook import tqdm


# Reading datasets

with open('../data/matches/matches_England.json') as f:
    matches_England = json.load(f)

with open('../data/players.json') as f:
    players = json.load(f)

with open('../data/teams.json') as f:
    teams = json.load(f)

with open('../data/events/events_England.json') as f:
    events_England = json.load(f)

FileNotFoundError: [Errno 2] No such file or directory: 'data/matches/matches_England.json'

## Matches DF

In [15]:
def find_side_and_score(match):
    # find the teams
    team0 = list(match["teamsData"].keys())[0]
    team1 = list(match["teamsData"].keys())[1]
    # check to see if team0 is home or away, add accordingly
    if match["teamsData"][team0]["side"] == "home":
        score0 = match["teamsData"][team0]["score"]
        score1 = match["teamsData"][team1]["score"]
        return (team0, team1, score0, score1)
    else:
        score0 = match["teamsData"][team0]["score"]
        score1 = match["teamsData"][team1]["score"]        
        return (team1, team0, score1, score0)

In [16]:
find_side_and_score(matches_England[0])

('1646', '1659', 1, 2)

In [18]:
matches = []
for match in matches_England:
    home_team, away_team, home_score, away_score = find_side_and_score(match)

    matches.append({
        'match_id': match['wyId'],
        'date': match['dateutc'],
        'home_team': int(home_team),
        'away_team': int(away_team),
        'home_score': int(home_score),
        'away_score': int(away_score),
        'label': match['label'],
        'venue': match['venue'],
        'gameweek': match['gameweek'],
        'winner_team_id': int(match['winner'])
    })
matches_df = pd.DataFrame(matches)

matches_df.to_csv('dataframe/matches.csv', index=False)

## Players DF

In [6]:
players_df = pd.DataFrame(players)
players_df = players_df.drop(["passportArea", "role", "birthArea"], axis=1)
players_df.head()

players_df.to_csv('dataframes/players.csv', index=False)

In [7]:
players_df.head()

,weight,firstName,middleName,lastName,currentTeamId,birthDate,height,wyId,foot,shortName,currentNationalTeamId
0,78,Harun,,Tekin,4502,1989-06-17,187,32777,right,H. Tekin,4687
1,73,Malang,,Sarr,3775,1999-01-23,182,393228,left,M. Sarr,4423
2,72,Over,,Mandanda,3772,1998-10-26,176,393230,,O. Mandanda,null
3,82,Alfred John Momar,,N'Diaye,683,1990-03-06,187,32793,right,A. N'Diaye,19314
4,84,Ibrahima,,Konat\u00e9,2975,1999-05-25,192,393247,right,I. Konat\u00e9,null

## Teams DF

In [41]:
teams_df = pd.DataFrame(teams)
teams_df = teams_df.drop('area', axis=1)
teams_df.head()
teams_df.to_csv('dataframes/teams.csv', index=False)

## Events DF

In [30]:
events_df = pd.DataFrame(events_England)
events_df = events_df.drop(['positions', 'tags'], axis=1)
events_df.head()
events_df.to_csv('dataframes/events.csv', index=False)

## Positions DF

In [33]:
positions_data = []

for event in events_England:
    ID = event["id"]
    initialX = event["positions"][0]["x"]
    initialY = event["positions"][0]["y"]
    
    try:
        finalX = event["positions"][1]["x"]
    except IndexError:
        finalX = None
        
    try:
        finalY = event["positions"][1]["y"]
    except IndexError:
        finalY = None
    positions_data.append({"id": ID, "initialX": initialX, "initialY": initialY, "finalX": finalX, "finalY": finalY})

positions_df = pd.DataFrame(positions_data)
positions_df.head()
positions_df.to_csv("dataframes/positions.csv", index=False)

## EventTags DF

In [84]:
unique_tags = []
events_df = pd.DataFrame(events_England)

event_tags = []

for index, event in events_df.iterrows():
    for tag in event["tags"]:
        event_tags.append({
            'event_id': event['id'],
            'tag': tag['id']
        })
event_tags_df = pd.DataFrame(event_tags)

In [85]:
event_tags_df.to_csv("dataframes/event_tags.csv", index=False)